*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body.segunda.pagina{
    background-image: url('https://mantosdofutebol.com.br/2021/12/adidas-mudar-logo-2022/');
    background-color: aliceblue;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}